.card:hover {
    border: 5px solid #FFE0AC;
    text-decoration: none;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

/* .Portfolio {
    transform-style: preserve-3d;
}

.Portfolio-img {
    transform: translate3d(0, 0, 900px);
}

.Portfolio-text {
    transform: translate3d(0, 0, 100px);
} */